.light-theme {
  header {
    background-color: #fff;
    border-color: #c9d5e8;
    padding: 0 1.5rem;
    height: 9.178vh;
    justify-content: space-between;
    border-bottom: 1px solid transparent;
    flex-wrap: nowrap;
  }
}